In [4]:
import duckdb
import pandas as pd

# 1. DuckDB 인메모리 연결 생성 (데이터베이스는 메모리에만 존재)
con = duckdb.connect(database=':memory:')

# 2. 새로운 테이블 생성: 카페 메뉴 (cafe_menu)
# 컬럼: item_id, item_name, category, price, is_seasonal
con.execute("""
    CREATE TABLE cafe_menu (
        item_id INTEGER,
        item_name VARCHAR,
        category VARCHAR,
        price INTEGER,
        is_seasonal BOOLEAN
    );
""")

# 3. 데이터 10행 삽입
con.execute("""
    INSERT INTO cafe_menu VALUES
    (1, '아메리카노', '커피', 4500, FALSE),
    (2, '카페 라떼', '커피', 5000, FALSE),
    (3, '바닐라 라떼', '커피', 5500, FALSE),
    (4, '카푸치노', '커피', 5000, FALSE),
    (5, '에스프레소', '커피', 4000, FALSE),
    (6, '녹차 라떼', '라떼/차', 5500, FALSE),
    (7, '딸기 스무디', '스무디', 6500, TRUE),
    (8, '레몬 에이드', '에이드', 6000, TRUE),
    (9, '초코 케이크', '디저트', 7000, FALSE),
    (10, '크로플', '디저트', 5800, FALSE);
""")


result_df_initial = con.sql("SELECT * FROM cafe_menu ORDER BY item_id;").df()
print(result_df_initial)

   item_id item_name category  price  is_seasonal
0        1     아메리카노       커피   4500        False
1        2     카페 라떼       커피   5000        False
2        3    바닐라 라떼       커피   5500        False
3        4      카푸치노       커피   5000        False
4        5     에스프레소       커피   4000        False
5        6     녹차 라떼     라떼/차   5500        False
6        7    딸기 스무디      스무디   6500         True
7        8    레몬 에이드      에이드   6000         True
8        9    초코 케이크      디저트   7000        False
9       10       크로플      디저트   5800        False

In [5]:
sql_update_1 = """
    UPDATE cafe_menu
    SET category = '스페셜 커피'
    WHERE item_id = 4;
"""
con.sql(sql_update_1)

result_df_initial = con.sql("SELECT * FROM cafe_menu ORDER BY item_id;").df()
print(result_df_initial)

   item_id item_name category  price  is_seasonal
0        1     아메리카노       커피   4500        False
1        2     카페 라떼       커피   5000        False
2        3    바닐라 라떼       커피   5500        False
3        4      카푸치노   스페셜 커피   5000        False
4        5     에스프레소       커피   4000        False
5        6     녹차 라떼     라떼/차   5500        False
6        7    딸기 스무디      스무디   6500         True
7        8    레몬 에이드      에이드   6000         True
8        9    초코 케이크      디저트   7000        False
9       10       크로플      디저트   5800        False

In [6]:
sql_update_2 = """
    UPDATE cafe_menu
    SET price = price + 300
    WHERE category = '커피';
"""
con.sql(sql_update_2)

result_df_initial = con.sql("SELECT * FROM cafe_menu ORDER BY item_id;").df()
print(result_df_initial)

   item_id item_name category  price  is_seasonal
0        1     아메리카노       커피   4800        False
1        2     카페 라떼       커피   5300        False
2        3    바닐라 라떼       커피   5800        False
3        4      카푸치노   스페셜 커피   5000        False
4        5     에스프레소       커피   4300        False
5        6     녹차 라떼     라떼/차   5500        False
6        7    딸기 스무디      스무디   6500         True
7        8    레몬 에이드      에이드   6000         True
8        9    초코 케이크      디저트   7000        False
9       10       크로플      디저트   5800        False