In [ ]:
# SQL에서 SELECT는 데이터를 조회할 때 사용하는 키워드
# SELECT 뒤에는 표시할 컬럼을 쉼표로 구분해서 나열
# *은 "모든 컬럼"을 의미
# FROM은 데이터를 조회할 테이블이나 데이터프레임을 지정하는 키워드

In [ ]:
import pandas as pd
import pandasql as ps

# 예제 데이터 프레임 생성
data = {
    'id': [1, 2, 3, 4],
    'name': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [25, 30, 35, 40],
    'department': ['HR', 'IT', 'Marketing', 'Finance']
}

df = pd.DataFrame(data)

# SQL 쿼리 실행
query = "SELECT * FROM df"
result = ps.sqldf(query, locals())

print(result)

   id     name  age department
0   1    Alice   25         HR
1   2      Bob   30         IT
2   3  Charlie   35  Marketing
3   4    David   40    Finance

In [ ]:
# 이 경우에는 *가 아닌 name과 age 컬럼만 표시하라는 의미
query = "SELECT name, age FROM df"
result = ps.sqldf(query, locals())

print(result)

In [ ]:
# WHERE는 뒤에 조건을 지정하여, 해당 조건을 만족하는 데이터만을 선택
# age >= 30는 컬럼 age의 값이 30보다 크거나 같다라는 조건
# 따라서 "SELECT name, age FROM df WHERE age >= 30"는 age 컬럼의 값이 30보다 크거나 같은 행을 선택하는데
# name, age 컬럼만 표시하라는 의미

query = "SELECT name, age FROM df WHERE age >= 30"
result = ps.sqldf(query, locals())

print(result)

In [ ]:
query = "SELECT name, age FROM df ORDER BY age DESC"
# ORDER BY는 정렬 기준을 지정
# ORDER BY age는 age 컬럼의 값을 기준으로 정렬하라는 의미

# 내림차순은 DESC
# 오름차순은 DESC 대신 ASC
result = ps.sqldf(query, locals())

print(result)

      name  age
0    David   40
1  Charlie   35
2    Frank   35
3      Bob   30
4      Eve   28
5    Alice   25

In [ ]:
# 쿼리 결과 중에서 상위 n개의 행만 조회하는 경우 LIMIT n
# 따라서 "SELECT * FROM df LIMIT 2"는 df의 모든 행 중에서
# 상위 2개의 행만 조회하되 모든 컬럼을 표시
query = "SELECT * FROM df LIMIT 2"
result = ps.sqldf(query, locals())

print(result)

   id   name  age department  salary
0   1  Alice   25         HR   50000
1   2    Bob   30         IT   60000

In [2]:
import pandas as pd

# 예제 데이터 생성
data = {
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'age': [25, 30, 35, 40, 28, 35],
    'department': ['HR', 'IT', 'Marketing', 'Finance', 'IT', 'Marketing'],
    'salary': [50000, 60000, 55000, 70000, 62000, 58000]
}

df = pd.DataFrame(data)

In [ ]:
# 위 데이터에 대해서

In [ ]:
# 모든 데이터를 조회하는 SQL문을 작성하고 실행하시오

In [ ]:
# 나이와 이름만 조회하는 SQL문을 작성하고 실행하시오

In [ ]:
# salary가 50000 이상인 사람들을 조회하는 SQL문을 작성하고 실행하시오

In [ ]:
# age가 30 이상인 사람들을 조회하는 SQL문을 작성하고 실행하시오

In [ ]:
# 연령 순으로 내림차순 정렬하는 SQL문을 작성하고 실행하시오

In [ ]:
# 연령 순으로 오름차순 정렬하는 SQL문을 작성하고 실행하시오